<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rule-attribute-predicate-heading"
        data-cy="RuleAttributePredicateCreateUpdateHeading"
        jhiTranslate="effOrbacApp.ruleAttributePredicate.home.createOrEditLabel"
      >
        Create or edit a Rule Attribute Predicate
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="effOrbacApp.ruleAttributePredicate.ruleAttributePredicateId"
            for="field_ruleAttributePredicateId"
            >Rule Attribute Predicate Id</label
          >
          <input
            type="text"
            class="form-control"
            name="ruleAttributePredicateId"
            id="field_ruleAttributePredicateId"
            data-cy="ruleAttributePredicateId"
            formControlName="ruleAttributePredicateId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="effOrbacApp.ruleAttributePredicate.ruleId" for="field_ruleId">Rule Id</label>
          <input type="text" class="form-control" name="ruleId" id="field_ruleId" data-cy="ruleId" formControlName="ruleId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="effOrbacApp.ruleAttributePredicate.attributeName" for="field_attributeName"
            >Attribute Name</label
          >
          <input
            type="text"
            class="form-control"
            name="attributeName"
            id="field_attributeName"
            data-cy="attributeName"
            formControlName="attributeName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="effOrbacApp.ruleAttributePredicate.operator" for="field_operator">Operator</label>
          <input type="text" class="form-control" name="operator" id="field_operator" data-cy="operator" formControlName="operator" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="effOrbacApp.ruleAttributePredicate.attributeValues" for="field_attributeValues"
            >Attribute Values</label
          >
          <input
            type="text"
            class="form-control"
            name="attributeValues"
            id="field_attributeValues"
            data-cy="attributeValues"
            formControlName="attributeValues"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
