<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountSubject">
      <h2 data-cy="accountSubjectDetailsHeading"><span jhiTranslate="effOrbacApp.accountSubject.detail.title">Account Subject</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountSubject.id }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountSubject.accountId">Account Id</span></dt>
        <dd>
          <span>{{ accountSubject.accountId }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountSubject.principal">Principal</span></dt>
        <dd>
          <span>{{ accountSubject.principal }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountSubject.accountId">Account Id</span></dt>
        <dd>
          <div *ngIf="accountSubject.accountId">
            <a [routerLink]="['/account-set-association', accountSubject.accountId.id, 'view']">{{ accountSubject.accountId.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountSubject.accountId">Account Id</span></dt>
        <dd>
          <div *ngIf="accountSubject.accountId">
            <a [routerLink]="['/account-jsonattributes', accountSubject.accountId.id, 'view']">{{ accountSubject.accountId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-subject', accountSubject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
