<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountJsonattributes">
      <h2 data-cy="accountJsonattributesDetailsHeading">
        <span jhiTranslate="effOrbacApp.accountJsonattributes.detail.title">Account Jsonattributes</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountJsonattributes.id }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountJsonattributes.accountId">Account Id</span></dt>
        <dd>
          <span>{{ accountJsonattributes.accountId }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountJsonattributes.json">Json</span></dt>
        <dd>
          <span>{{ accountJsonattributes.json }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountJsonattributes.accountJsonattributeId">Account Jsonattribute Id</span></dt>
        <dd>
          <span>{{ accountJsonattributes.accountJsonattributeId }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountJsonattributes.startDate">Start Date</span></dt>
        <dd>
          <span>{{ accountJsonattributes.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="effOrbacApp.accountJsonattributes.endDate">End Date</span></dt>
        <dd>
          <span>{{ accountJsonattributes.endDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-jsonattributes', accountJsonattributes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
