<div>
  <h2 id="page-heading" data-cy="PrivilegeSetHeading">
    <span jhiTranslate="effOrbacApp.privilegeSet.home.title">Privilege Sets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="effOrbacApp.privilegeSet.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-privilege-set"
        [routerLink]="['/privilege-set/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="effOrbacApp.privilegeSet.home.createLabel"> Create a new Privilege Set </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="privilegeSets?.length === 0">
    <span jhiTranslate="effOrbacApp.privilegeSet.home.notFound">No Privilege Sets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="privilegeSets && privilegeSets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="privilegeSetId">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.privilegeSet.privilegeSetId">Privilege Set Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="privilege">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.privilegeSet.privilege">Privilege</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleId">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.privilegeSet.ruleId">Rule Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let privilegeSet of privilegeSets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/privilege-set', privilegeSet.id, 'view']">{{ privilegeSet.id }}</a>
          </td>
          <td>{{ privilegeSet.privilegeSetId }}</td>
          <td>{{ privilegeSet.privilege }}</td>
          <td>{{ privilegeSet.ruleId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/privilege-set', privilegeSet.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/privilege-set', privilegeSet.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(privilegeSet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
