<div>
  <h2 id="page-heading" data-cy="AccountSetAssociationHeading">
    <span jhiTranslate="effOrbacApp.accountSetAssociation.home.title">Account Set Associations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="effOrbacApp.accountSetAssociation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-set-association"
        [routerLink]="['/account-set-association/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="effOrbacApp.accountSetAssociation.home.createLabel"> Create a new Account Set Association </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accountSetAssociations?.length === 0">
    <span jhiTranslate="effOrbacApp.accountSetAssociation.home.notFound">No Account Set Associations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="accountSetAssociations && accountSetAssociations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountSetId">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.accountSetAssociation.accountSetId">Account Set Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountId">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.accountSetAssociation.accountId">Account Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.accountSetAssociation.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="effOrbacApp.accountSetAssociation.endDate">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accountSetAssociation of accountSetAssociations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/account-set-association', accountSetAssociation.id, 'view']">{{ accountSetAssociation.id }}</a>
          </td>
          <td>{{ accountSetAssociation.accountSetId }}</td>
          <td>{{ accountSetAssociation.accountId }}</td>
          <td>{{ accountSetAssociation.startDate | formatMediumDate }}</td>
          <td>{{ accountSetAssociation.endDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/account-set-association', accountSetAssociation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/account-set-association', accountSetAssociation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accountSetAssociation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
